@charset "utf-8";

*{margin:0; padding:0;}

header {
	text-align: center;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
}

/* Caixa Centro */
#div-centro {
	margin: 100px auto;
	width: 800px;
	height: 350px;
	border: #646464 1px solid;
	border-radius: 10px;
}

/* Caixa Esquerda */
#div-esquerda {
	position:relative;
	width: 340px;
	height: 280px;
    padding: 10px;
    padding-top: 20px;
    margin: 20px;
	background-color: #EFEFEF;
	float: left;
}

/* Linha entre as caixas */
#div-meio {
    position: relative;
    width: 1px;
    height: 310px;
    margin: 20px;
    margin-left: 0px;
    background-color: black;
    float: left;
}

/*Caixa Direita*/
#div-direita {
	position:relative;
	width: 340px;
	height: 280px;
    padding: 10px;
    padding-top: 20px;
    margin: 20px;
    margin-left: -1px;
	background-color: #EFEFEF;
	float: left;
}

/* Edição da letra das div's */

.letra {
    font-size: 13px;
    margin-top: 10px;
}

/* Edição do botão Criar (div-esquerda) */
#botao-criar {
    font-weight: bolder;
    width: 250px;
    height: 50px;
    margin-left: 45px;
    margin-top: 80px;
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
}

#botao-criar:hover {
    color: white;
    background-color: black;
    transition: .1s;
}

/* Edição do Formulario de LogIn */
.formulario {
    margin-top: 20px;
}

/* Edição das caixas de texto do formulario */
.caixa {
    padding: 4px;
    border: #646464 1px solid;
}

/* Edição da caixa Usuario */
.caixa-usuario {
    margin-left: 30px;
}

/* Edição da caixa Senha */
.caixa-senha {
    margin-top: 10px;
    margin-left: 5px;
}


/* Edição checkbox */
.caixa-checkbox {
    margin-left: 70px;
}

/* Edição botão de Login */
#botao-login{
    font-weight: bolder;
    margin: 10px;
    margin-left: 70px;
    padding: 5px;
    width: 70px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

#botao-login:hover {
    color: white;
    background-color: black;
    transition: .1s;
}

/* Link forgot senha/email */
.link-forgot {
    margin-top: 10px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.link-forgot:hover {
    text-decoration: underline;
}

.menssagem {
    width: 500px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left: 700px;
    padding: 10px;
    color: red;
}
 /* FIM EDIÇÃO INDEX */

 /* INICIO EDIÇÃO HOME */

#div-centro-home {
    margin: 100px auto;
    width: 800px;
    height: 350px;
    border: #646464 1px solid;
    border-radius: 10px;
}

#div-meio-home {
    margin: 20px;
    margin-top: 0px;
    width: 720px;
    height: 270px;
    background-color: #EFEFEF;
    padding: 20px;
}

#log-out {
    margin-left: 700px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#log-out:hover {
    text-decoration: underline;
}


/* INICIO EDIÇÃO ESQUECI A SENHA */
#div-centro-pass {
    margin: 100px auto;
    width: 800px;
    height: 350px;
    border: #646464 1px solid;
    border-radius: 10px;
}

#div-meio-pass {
    margin: 20px;
    width: 720px;
    height: 270px;
    background-color: #EFEFEF;
    padding: 20px;
}

.forgot-pass {
    margin-top: 20px;
    padding-bottom: 10px;
}

label {
    font-size: 16px;
}

#email {
    width: 200px;
    height: 20px;
}

#botao-esqueci{
    font-weight: bolder;
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

#botao-esqueci:hover{
    color: white;
    background-color: black;
}


/* INICIO EDIÇÃO INSERIR */
#div-centro-inserir {
    margin: 100px auto;
    width: 800px;
    height: 350px;
    border: #646464 1px solid;
    border-radius: 10px;
}

#div-meio-inserir {
    margin: 20px;
    width: 720px;
    height: 270px;
    background-color: #EFEFEF;
    padding: 20px;
}

.criar-conta {
    margin-top: 20px;
    padding-bottom: 10px;
}

#cadastra-nome {
    width: 200px;
    height: 20px;
    margin-left: 12px;
}

#cadastra-email {
    width: 200px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
}

#cadastra-usuario {
    width: 200px;
    height: 20px;
    margin-top: 5px;
}

#cadastra-senha {
    width: 200px;
    height: 20px;
    margin-left: 9px;
    margin-top: 5px;
}

#botao-cadastrar{
    font-weight: bolder;
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

#botao-cadastrar:hover{
    color: white;
    background-color: black;
}

.div-back-login {
    margin-top: 20px;
    position: relative;
    float: right;
}

.back-login {
    color: black;
    text-decoration: none;
}

.back-login:hover {
    text-decoration: underline;
}